<div class='container'>
  <div class='episode-selector' [ngClass]="(currentEpisode==1)?'active':'inactive'" (click)='onChangeEpisode.emit(1)'>
    Episode 1
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==2)?'active':'inactive'" (click)='onChangeEpisode.emit(2)'>
    Episode 2
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==3)?'active':'inactive'" (click)='onChangeEpisode.emit(3)'>
    Episode 3
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==4)?'active':'inactive'" (click)='onChangeEpisode.emit(4)'>
    Episode 4
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==5)?'active':'inactive'" (click)='onChangeEpisode.emit(5)'>
    Episode 5
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==6)?'active':'inactive'" (click)='onChangeEpisode.emit(6)'>
    Episode 6
  </div>
  <div class='episode-selector' [ngClass]="(currentEpisode==7)?'active':'inactive'" (click)='onChangeEpisode.emit(7)'>
    Episode 7
  </div>
</div>